*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    background-color: rgb(168, 197, 203);
    height: 10000;
}
/* h1{
    color:#fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 58px;
} */

   /* div{
    /* width: 300px; */
    /* background-color: chartreuse; */
    /* padding: 20px; */
 
    

/* span {
    background-color: coral;
    padding: 20px;
    text-align: center;
} */

/* .green-color {
    color: green;
    font-size: 30px;
}

.line {
height: 1px;
background-color: red;
}

h2 {
    font-size: 50px;
    color: blue;
}

.test{
color: purple;
font-size: 26px;
}

#testId {
    color: yellow;
 }

 .menu {
    display: flex;
    gap: 20px;
 }

.menu li {
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
} */

/* .first .title_first {
    color: darksalmon;
} */

/* textarea {
    resize: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h_section {
    background-color: crimson;
}
.p_section {
    background-color: aquamarine; */

/* table {
    border-collapse: collapse;
} */
 /* div {
    color: red;
    font-size: 36px;
 }

 #div_id {
    color: green;
 }
 .div_class {
    color: blue;
 }
 
 div {
    color: blueviolet !important; /* Перебиває всі стилі */
  
 
 /* body div { */

 
  /* body .div_class */
  /* body {
    font-family: "Lato", sans-serif;
  }
  .section_blog {
  font-family: "Lato", sans-serif;
  font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .line_height {
        width: 300px;
        line-height: 150%;
        background-color: white;
        padding: 20px;
        text-align: left;
        text-decoration: underline wavy red;
        text-transform: capitalize;
        text-shadow: 5px 10px 4px red;
        font-weight: 400;
        letter-spacing: 3px;
        
    }
    .banner {
         background-color: chocolate;
        background-image: url(img/Image20250520201304.jpg);
        height: 400px;
        background-repeat: no-repeat;
        background-attachment: fixed;
   
    } */
     .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
     }

     .youtube {
        background-color: red;
        color: aliceblue;
        display: inline-block;
        font-size: 30px;
        border-radius: 50px;
        margin: 20px 0;
        border-inline: none;
        padding: 20px 30px;
     }
     #box {
        width: 200px;
        height: 100px;
        background-color: crimson;
        text-align: center;
        margin-bottom: 20px;
        color: aliceblue;
     }

     nav a {
        color: rgb(22, 212, 22);
     }
     .ul_first > li {
        color: blue;
        font-size: 23px;
     }

     ul > li {
        color: coral;
     }

     /* h2 + p {
        color: red;
     } */

     h2 ~ p {
        color: yellowgreen;
     }

     input [type="text"] {
        border: 2px solid blue;
     }
     

.margin_p {
    margin: 0 0 30px 0;    
}
.margin_p2 {
    margin: 20px 0 0 0;
}
.block {
    background-color: violet;
    padding: 40px;
}